html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
}

#controls {
  height: 5%;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#controls p, #bottom p {
  position: static; 
  margin: 0;
  color: white;
  font-family: sans-serif;
}

#canvas {
  height: 80%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas#draw {
  background-color: rgb(179, 176, 172);
  width: 90%;
  height: 90%;
  border-radius: 30px;
  display: block;
}

#bottom {
  height: 10%;
  width: 100%;

  
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}